<h2>People</h2>
<ngb-accordion [closeOthers]="true">
    <div *ngFor="let person of personsData">
        <ngb-panel id="{{ person.playerId }}"> <!--title="{{ person.nameLast }}, {{ person.nameFirst }}">-->
            <ng-template ngbPanelHeader>
                <button ngbPanelToggle class="btn btn-link">{{ person.nameLast }}, {{ person.nameFirst }}</button>            
            </ng-template>
            <ng-template ngbPanelContent>
                <app-person-row [person]="person"></app-person-row>
            </ng-template>
        </ngb-panel>
    </div>
</ngb-accordion>

<ngb-pagination [collectionSize]="18000" [(page)]="page"></ngb-pagination>