<table class="table table-striped table-sm">
    <caption>Batting stats by year</caption>
    <thead class="thead-light">
        <tr>
            <!--'container' attrib used as bug workaround-->
            <th placement="top" container="body" ngbTooltip="Year of batting stint">Year</th>
            <th placement="top" container="body" ngbTooltip="Team of batting stint">Team</th>
            <th placement="top" container="body" ngbTooltip="League">League</th>
            <th placement="top" container="body" ngbTooltip="Games">G</th>
            <th placement="top" container="body" ngbTooltip="At Bats">AB</th>
            <th placement="top" container="body" ngbTooltip="Runs scored">R</th>
            <th placement="top" container="body" ngbTooltip="Hits">H</th>
            <th placement="top" container="body" ngbTooltip="Doubles">2B</th>
            <th placement="top" container="body" ngbTooltip="Triples">3B</th>
            <th placement="top" container="body" ngbTooltip="HomeRuns">HR</th>
            <th placement="top" container="body" ngbTooltip="Runs Batted In">RBI</th>
            <th placement="top" container="body" ngbTooltip="Stolen Bases">SB</th>
            <th placement="top" container="body" ngbTooltip="Caught Stealing">CS</th>
            <th placement="top" container="body" ngbTooltip="Bases on Balls">BB</th>
            <th placement="top" container="body" ngbTooltip="StrikeOuts">SO</th>
            <th placement="top" container="body" ngbTooltip="Intentional Bases on Balls">IBB</th>
            <th placement="top" container="body" ngbTooltip="Hit By Pitch">HBP</th>
            <th placement="top" container="body" ngbTooltip="Ground Into Double-Play">GIDP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stint of battingData">
            <td>{{ stint.yearId }}</td>
            <td>{{ stint.teamId }}</td>
            <td>{{ stint.leagueId }}</td>
            <td>{{ stint.games }}</td>
            <td>{{ stint.atBats }}</td>
            <td>{{ stint.runs }}</td>
            <td>{{ stint.hits }}</td>
            <td>{{ stint.doubles }}</td>
            <td>{{ stint.triples }}</td>
            <td>{{ stint.homeruns }}</td>
            <td>{{ stint.runsBattedIn }}</td>
            <td>{{ stint.stolenBases }}</td>
            <td>{{ stint.caughtStealing }}</td>
            <td>{{ stint.basesOnBalls }}</td>
            <td>{{ stint.strikeOuts }}</td>
            <td>{{ stint.intentionalBasesOnBalls }}</td>
            <td>{{ stint.hitByPitches }}</td>
            <td>{{ stint.groundedIntoDoublePlays }}</td>
        </tr>
        <tr class="table-dark border-top-0 border-dark">
            <td placement="top" container="body" ngbTooltip="Total number of years batting">{{ battingCollection.totalYears }}</td>
            <td> - </td>
            <td> - </td>
            <td placement="top" container="body" ngbTooltip="Total number of games in which the player appeared.">{{ battingCollection.totalGamesPlayed }}</td>
            <td placement="top" container="body" ngbTooltip="Total accumulated At Bats by this player.">{{ battingCollection.totalAtBats }}</td>
            <td placement="top" container="body" ngbToolTip="Total number of runs scored.">{{ battingCollection.totalRuns }}</td>
            <td>{{ battingCollection.totalHits }}</td>
            <td>{{ battingCollection.totalDoubles }}</td>
            <td>{{ battingCollection.totalTriples }}</td>
            <td>{{ battingCollection.totalHomeruns }}</td>
            <td>{{ battingCollection.totalRunsBattedIn }}</td>
            <td>{{ battingCollection.totalStolenBases }}</td>
            <td>{{ battingCollection.totalCaughtStealings }}</td>
            <td>{{ battingCollection.totalBasesOnBalls }}</td>
            <td>{{ battingCollection.totalStrikeOuts }}</td>
            <td>{{ battingCollection.totalIntentionalBasesOnBalls }}</td>
            <td>{{ battingCollection.totalHitByPitches }}</td>
            <td>{{ battingCollection.totalGroundedIntoDoublePlays }}</td>
        </tr>
    </tbody>
</table>
