<h2>Players</h2>
<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Birthdate</th>
            <th>Debut</th>
            <th>Batting Rows</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of playerData">
            <td>{{ player.nameLast }}</td>
            <td>{{ player.nameFirst }}</td>
            <td>{{ player.birthMonth }}/{{ player.birthDay }}/{{ player.birthYear }}</td>
            <td>{{ player.debut | date:'dd/MM/yyyy' }}</td>
            <td>{{ player.batting.length }}</td>
        </tr>
    </tbody>
</table>