<!-- <td>{{ battingStint.yearId }}</td>
<td>{{ battingStint.teamId }}</td>
<td>{{ battingStint.leagueId }}</td>
<td>{{ battingStint.games }}</td>
<td>{{ battingStint.atBats }}</td>
<td>{{ battingStint.runs }}</td>
<td>{{ battingStint.hits }}</td>
<td>{{ battingStint.doubles }}</td>
<td>{{ battingStint.triples }}</td>
<td>{{ battingStint.homeruns }}</td>
<td>{{ battingStint.runsBattedIn }}</td>
<td>{{ battingStint.stolenBases }}</td>
<td>{{ battingStint.caughtStealing }}</td>
<td>{{ battingStint.basesOnBalls }}</td>
<td>{{ battingStint.strikeOuts }}</td>
<td>{{ battingStint.intentionalBasesOnBalls }}</td>
<td>{{ battingStint.hitByPitches }}</td>
<td>{{ battingStint.groundedIntoDoublePlays }}</td> -->
